<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.all_in_one">

    <application
        android:name="vancore.all_in_one.VancoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllInOne">
        <activity android:name="vancore.all_in_one.content.ui.ContentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="vancore.all_in_one.five_skills.FiveSkillsActivity" />

        <activity android:name="vancore.all_in_one.five_skills.skill_detail.ui.SkillDetailActivity" />

    </application>

</manifest>